# SPDX-License-Identifier: MIT
# Block-test deps (cocotb). On Python > 3.13, install with
# COCOTB_IGNORE_PYTHON_REQUIRES=1 (cocotb's declared support lags the runtime;
# it works fine). CI uses Python 3.12, where these install cleanly.
cocotb==2.0.1
cocotbext-axi==0.1.28
